.container-fluid {
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: fuchsia;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  z-index: 0.5;
  position: absolute;
}


.title {
  display: flex;
  flex: inline;
  color: white;
  margin-top: 15px;
  margin-bottom: 25px;
}

#backgroundColor {
  background-color: rgb(30, 30, 30);
}

#flush-collapseOne {
  background-color: rgb(30, 30, 30);
  color: white;
}

#flush-collapseTwo {
  background-color: rgb(30, 30, 30);
  color: white;
}

#flush-collapseThree {
  background-color: rgb(30, 30, 30);
  color: white;
}

#flush-collapseFour {
  background-color: rgb(30, 30, 30);
  color: white;
}

#flush-collapseFive {
  background-color: rgb(30, 30, 30);
  color: white;
}

#flush-collapseSix {
  background-color: rgb(30, 30, 30);
  color: white;
}

.titleColor {
  color: white;
  position: relative;
  /* background-color: rgb(30, 30, 30); */
  background-color: red;
}

/* .carre {
  background-color: rgb(30, 30, 30);
  height: 50px;
  width: 50px;
} */

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus  {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}


.positionIcone {
  position: absolute;
  top: 0px;
  left: 938px;
  color: fuchsia;
  background-color: rgb(30, 30, 30);
}

.accordion_item {
  display: flex;
  flex-flow: wrap;
}

.accordion-item {
  width: 1000px;
  margin: 10px;
  display: block;
}

.flush-collapseOne {
  background-color: fuchsia;
}

/* /* .accordion-button:collapse {
  box-shadow: none;
  border: none;
} */

/* .accordion-button:not(.collapsed) {
  box-shadow: none;
  border: none;
} */

/* .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: none;
  border-radius: none;
} */

.accordion-collapse:collapse:show {
  border-color: none;
}