.container-fluid {
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    z-index: 0.5;
    /* position: absolute; */
}

.positionIcone {
    position: absolute;
    top: 0px;
    left: 938px;
    color: white;
    background-color: rgb(30, 30, 30);
}

.titleColor {    
    position: relative;
    /* background-color: rgb(30, 30, 30); */
    background-color: red;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(45, 40, 40);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: red;
    /* background-color: #ccc; */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02796"; /* Unicode character for "minus" sign (-) */
}


.our-story-cards {
  margin: 0 auto;
}

div {
  display: block;
}

