.FAQ_title {
  color: white;
  font-weight: bold;
  font-size: 350%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

.separation1{
  background-color: rgb(56, 55, 55);
  height: 5px;
  margin-bottom: 5rem;
}

.separation2{
  background-color: rgb(56, 55, 55);
  height: 5px;
  margin-top: 10rem;
}