.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 4%;
}

.brandLogo {
    margin-left: 70px;
    margin-top: 35px;
    max-width: 187px;
    display: flex;
    /* z-index: 1; */
}


.btn-danger {
    background-color: #E50914 !important;
}

.btn-group {
    display: flex;

    align-items: right;
    /* margin-right: 550px; */
    background-color: rgb(35, 34, 34, 0.4) !important;
    color: white;
}

.dropdown-item {
    color: fuchsia;
}

.dropdown-toggle {
    background-color: rgba(74, 74, 74, 0.5);
}