.banner {
    position: relative;
    color: white;
    background-color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    font-size: 0.9rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 768px) {
        font-size: 1.2rem;
        height: 80vh;
        padding-bottom: 7rem;
    }

    &__content {
        padding: 8vh 4% 0 4%;
        width: 60vw;

        @media screen and (min-width: 768px) {
            padding-top: 40vh;
        }

        .banner__title {
            font-size: 1.5rem;
        }

        .banner__buttons {
            display: flex;

            .banner__button {
                display: flex;
                align-items: center;
                padding: 0.4rem 1rem 0.4rem 0.5rem;
                margin-right: 0.7rem;
                color: inherit;
                font-weight: 600;
                background-color: rgba(110, 110, 110, 0.7);
                border-radius: 5px;
                cursor: pointer;

                @media screen and (min-width: 768px) {
                    font-size: 1.4rem;
                    padding: 0.8rem 1.5rem
                }

                &--play {
                    color: #000;
                    background-color: rgba(255, 255, 255, 0.7);
                }
                svg {
                    margin-right: 0.4rem;
                }
            }
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3rem;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5), #111);

        @media screen and (min-width: 768px) {
            height: 7rem;
        }
    }
}