.accordions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
    color: white;
    margin-left: 305px;
    margin-top: 30px;
    margin-bottom: -4px;
}

.accordion_title{

}

.FAQParent{
    height:50%;
}